//fuente mona sans
@font-face {
    font-family: "mona";
    src: url('fonts/Mona-Sans.ttf');
}

//variables
$turquesa: hsl(185, 75%, 39%);
$mona-sans: mona;
$color-texto-primario:#555; 



*, *::before, *::after {
    box-sizing: border-box;
}
    
*{
    margin: 0;
    padding: 0;
}


html{
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    font-family:$mona-sans;
    background-color:$turquesa;
    background-image: url('images/bg-pattern-top.svg'), url('images/bg-pattern-bottom.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: right 50vw bottom 50vh, left 50vw top 50vh;
    text-align: center;
    color: $color-texto-primario;
}

h1{
    padding: 3rem;
    font-size: 6rem;
}

#cocktaillist{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}


.card {
    background-color: white;
    width: 326px;
    border-radius: 16px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    margin-bottom: 2rem;
    overflow: hidden;

        &-img {
            width: 100%;
            display: block;
        }

        &-title {
            margin: 2rem 0;
            font-size: 1.8rem;
            text-transform: capitalize;
        }

    }
